################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/CheckPasswordExpiration/v14/.suo
/CheckPasswordExpiration/bin
/CheckPasswordExpiration/obj/Debug
/packages
