<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <processors>
            <loggingin>
                <processor type="Common.Feature.Pipelines.LoggingIn.CheckPasswordExpiration, Common.Feature.CheckPasswordExpiration" >
                    <!-- Number of days, hours, minutes and seconds after the last password change date to expire passwords -->
                    <TimeSpanToExpirePassword>90:00:00:00</TimeSpanToExpirePassword>
                    <ChangePasswordPageUrl>/sitecore/changepassword.aspx</ChangePasswordPageUrl>
                </processor>  
            </loggingin>
        </processors>
    </sitecore>
</configuration>